#root {
 
  margin: 0;
   
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 
 
 .card {
   padding: 2em;
 }
 
 .read-the-docs {
   color: #888;
 }
 /* registrazione */
 .form{
   display: flex;
   flex-direction: column;
   border: 8px solid black;
   padding: 20px;
   border-radius: 8px;
   background-color: #2BA9BC;
   gap: 5px;
  align-items: center;
  justify-content: center;
  height: 48rem;
 }
 .form input{
   padding: 8px;
   border-radius: 8px;
   border: none;
 }
 .form button{
  padding: 10px;
  border-radius: 8px;
  border: 5px solid black;

  width: 50%;
  margin-top: 10px;
 }
 
 
/* ----------------- */
 

 .home{
   background-color:#2BA9BC ;
   
 }
 .input-results{
  display: flex;
  flex-direction: column;

 }
 .table{
   display: flex;
   flex-direction: row;
   padding: 10px;
   border: 1px solid black;
 }
 
 .nav-home{
   display: flex;
   justify-content: space-around;
   align-items: center;
   border: 2px solid black;
   background-color:#2BA9BC ;
   padding: 10px;
 }

 .nav-utente{
  text-align: center;
  font-size: 12px;
  margin: 0;
 }
 .cl-home{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  background-color:#2BA9BC ;
padding: 20px;
gap: 15px;
margin-top: 10px;

}
.champions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  background-color: #efeaff;
padding: 10px;
gap: 15px;
margin-top: 10px;
border-radius: 8px;
}
.team1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.results{
  display: flex;
  gap: 10px;
  
}

.marcatori{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: #efeaff;
padding: 10px;
margin-top: 10px;
border-radius: 8px;
list-style: none;
gap: 5px;
}

.btn{
  padding: 10px;
  border: 2px solid black;
  background-color:#2BA9BC ;
  border-radius: 8px;
}
.champions-home{
  background-color: #2BA9BC;
  border: 2px solid black;
padding: 10px;
}

/* --------------------------- */
.table{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #efeaff;
  margin-top: 10px;
  border-radius: 8px;
}
.link{
  text-decoration: none;
  color: black;
}